body{
    background-color: rgb(69, 255, 19);
    font-family: Calibri;
    margin: 0 auto;
}

#formBody{
    margin: 30px auto ;
    width: 250px;
    height: 200px;
}
.inputField input{
    background-color: #dadada;
}
#submit{
    background-color: dodgerblue;
    padding: 5px;
}
input{
    border-radius: 10px;
    border:none;
}