.DsStore
/6º Semestre/S02/mavenproject1/target/
/6º Semestre/S02/JavaApplication1/nbproject/private/
/6º Semestre/S02/JavaApplication1/build/
/6º Semestre/S02/JavaApplication1/dist/
/6º Semestre/S02/so2a02sockets/build/
/6º Semestre/S02/so2a02sockets/dist/
/6º Semestre/S02/so2a02sockets/nbproject/private/
/6º Semestre/S02/ativ3ser/nbproject/private/
/6º Semestre/S02/ativ3ser/build/
/6º Semestre/S02/ativ3ser/dist/