<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
</head>
<body>
<div>
    <form th:action="@{/Stores}" method="post" id="form">
        <div class="inputField"><input  type="text" name="StoreName"/> </div>
        <div class="inputField"><input type="text" name="latitude"/> </div>
        <div class="inputField"><input type="text" name="longitude"/> </div>
        <div><input type="submit" value="submitData" id="submit"/></div>
    </form>
</div>
</body>
</html>